

nav a {
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    padding: 6px 20px; 
    transition: .5s;
   
}

.nava:hover 
{
    color:oklch(78.9% 0.154 211.53)
}
nav a span {
    position :absolute;
    top: 0;
    left:0;
    width:100%;
    height: 100%;
  
    border-bottom: 2px solid oklch(78.9% 0.154 211.53);
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: .5s;

}
nav a:hover span{
    transform: scale(1) translateY(0);
    opacity: 1;

}
 .header{
    position: fixed;
    top:0;
    left:0;
    min-width: 100%;
    padding: 10px ;
     background-color: rgba(0, 0, 0, 0.597);
    display: flex;
    justify-content: space-around;
    align-items:center;
    z-index: 100;
     
 }
 .Logo{
    font-size: 32px;
    color:#fff;
    text-decoration: none;
    font-weight: 700;


}

button{
    padding: 15px 30px;
    border-radius: 10px;
    background: oklch(42.4% 0.199 265.638);
    border:0px;
    box-shadow: 0 4px 8px 0 rgba(0, 132, 255, 0.19), 0 6px 20px 0 rgba(0, 132, 255, 0.19);
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
   
}

button:hover{
    background: oklch(28.297% 0.15275 263.92);
}
