@import "normalize.css";

@font-face {
  font-family: "Geist Sans";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    color: #fff;


}
body{
    

  margin: 0;
  padding: 0;
  overflow-x: hidden;
   min-height: 100vh;
   background: linear-gradient(
    0deg,
    oklch(71.5% 0.143 215.221) 0%,
    rgba(0, 0, 0, 1) 100%
	
);
   background-size: cover;
    background-attachment: fixed;
}

.section1 {
 display: flex;
  justify-content: center;  /* centre horizontalement */
  align-items: center;      /* centre verticalement */
  min-height: 20vh;
  background: transparent !important;
  
}


.section1 h1 {
  color: #fff;
  font-size: 3rem;
  margin-top: 200px;
}
.desc{
	  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
}

.desc > p {
	text-align: center; color: rgba(240, 255, 255, 0.81)
}
.grid-container{
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-content: center;

    
}

.grid-container div{
        height: auto;
        width: 500px;
    background-color: rgba(0, 0, 0, 0.378);
    padding: 50px 20px;
     margin : 50px
}

.svg-grid {
		        margin-top: 20px;
              margin-bottom: 17px;
              display: flex;
              justify-content: center;
              align-items: center;
	}

.footer {
    margin-top: 50px;
}



button {
	height: 48px;
	padding: 0;
	display: grid;
	border-radius: 8px;
	border: 2px solid black;
	letter-spacing: 0.25px;
	cursor: pointer;
	position: relative;
	background: black;
	color: white;
	font-weight: 200;
	scale: 1;
  outline-color: oklch(68.5% 0.169 237.323);
  outline-offset: 0.25rem;
  margin-top: 30px;
 
}

button:is(:hover, :focus-visible) {
	--active: 1;
}

button:active {
  --pressed: 1;
}

button > span:nth-of-type(1) {
	height: 100%;
	width: 100%;
	border-radius: 8px;
	position: absolute;
	inset: 0;
  scale: calc(1 - (var(--pressed, 0) * 0.05));
  transition: scale 0.1s;
}

button:is(:hover, :focus-visible) .container {
	width: 100%;
}

.container {
	--mask-image: url(https://assets.codepen.io/605876/chev-mask_1.png);
	--spread: 24px;
	--size: 28px;
	width: 58px;
	height: 100%;
	background: oklch(68.5% 0.169 237.323);
	position: absolute;
	left: 0;
	transition: width 0.25s;
	border-radius: 6px;
	box-shadow: 0 10px 10px -5px hsl(0 0% 0% / 0.5);
	container-type: inline-size;
}

.primary {
	content: "";
	position: absolute;
	inset: 0;
	background: hsl(0 0% 0% / 0.15);
	z-index: 2;
	mask: var(--mask-image) 50% 50% / var(--size) var(--size) no-repeat;
	container-type: inline-size;
}

:where(.primary, .complimentary)::after {
	--distance: calc(100cqi + 100%);
	content: "";
	height: calc(var(--size) * 4);
	aspect-ratio: 1;
	position: absolute;
	left: 0%;
	top: 50%;
	translate: -50% -50%;
	background: radial-gradient(hsl(0 0% 0%), transparent);
	animation: fly-by calc((2 - var(--active, 0)) * 1s) infinite linear;
}

@keyframes fly-by {
	0% { translate: -100% -50%; }
	100% { translate: var(--distance) -50%; }
}

.complimentary {
	content: "";
	position: absolute;
	inset: 0;
	opacity: var(--active, 0);
	transition: opacity 0.25s;
	background: hsl(0 0% 0% / 0.15);
	mask:
		var(--mask-image) calc(50% - (var(--spread) * 1)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% - (var(--spread) * 2)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% - (var(--spread) * 3)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% + (var(--spread) * 1)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% + (var(--spread) * 2)) 50% / var(--size) var(--size) no-repeat,
		var(--mask-image) calc(50% + (var(--spread) * 3)) 50% / var(--size) var(--size) no-repeat;
}

button > span:nth-of-type(2) {
	padding: 0 1.1rem 0 calc(58px + 1.1rem);
	display: grid;
	place-items: center;
	height: 100%;
}

@media(max-width:780px){
	.desc{
			  margin-right:10px;
        margin-left: 10px;
        margin-top: 50px;
	}
	
	.grid-container{
		flex-direction: column;
		max-width: 100vw;
	}
	.svg-grid{
		        margin-top: 20px;
              margin-bottom: 17px;
              display: flex;
              justify-content: center;
              align-items: center;
	}

	.grid-container div{
		margin: 10px;
		width: 95vw;
		 /* Animation initiale : invisible et réduit */
    opacity: 0;
    transform: scaleY(0.4);
    transform-origin: 100% 0%;
    
    /* Animation au scroll */
    animation: scale-up-ver-top linear forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
	}

  .grid-container div:nth-child(1) {
    animation-delay: 0ms;
  }
  
  .grid-container div:nth-child(2) {
    animation-delay: 100ms;
  }
  
  .grid-container div:nth-child(3) {
    animation-delay: 200ms;
  }

  @keyframes scale-up-ver-top {
    0% {
      opacity: 0;
      transform: scaleY(0.4);
      transform-origin: 100% 0%;
    }
    100% {
      opacity: 1;
      transform: scaleY(1);
      transform-origin: 100% 0%;
    }}

}
/* Délais pour effet cascade */
