*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
       color: #fff;


}
body{

  margin: 0;
  padding: 0;
  overflow-x: hidden;
   min-height: 100vh;

}
.main {
    min-height: 100vh;
    width: auto;

background: linear-gradient(0deg, oklch(71.5% 0.143 215.221) 0%, rgba(0, 0, 0, 1) 100%);
}


.blend{
    width: 600px; height: 600px;
    margin-left: 60px;
}


.wrap {

  display: flex;
  align-items: center; 
  margin-left: 20px;

    background: transparent !important;


}

.text1{
    margin-left: 70px;
}

.button1{
    text-decoration: none;
    color: #fff;
    background-color: black;
    padding: 15px 40px ;
    margin-top: 20px;
   border: none;
   outline: none;
   cursor: pointer;
   position: relative;
    display: flex;
    align-items: center;
   border-radius: 10px;
}
.button1:hover {
   display:flex;
   filter:drop-shadow(0 0 10px oklch(86.5% 0.127 207.078));
   
}

.section2 {
       display: flex;
    align-items: center;

    flex-direction: row-reverse;
 
  background: transparent !important;

}

.section3{
    margin-top: 20px;
    margin-left: 60px;
      background: transparent !important;

}
.soussection3{
    display: flex;
    align-content: center;
    align-items: center;
      margin-top: 20px;

    margin-right: 10px ;
      background: transparent !important;

     
}
.soussection3 li {
      margin-right: 20px ;
      margin-left: 20px;
      margin-bottom: 40px;
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
    
}

.imgoum{
  width: 500px;
  height: 500px;
}
